<% provide(:title, 'Home') %>

<div class="titletext">
<h1>80% of success in life is showing up. - Woody Allen</h1>
<br><br>
<p class="lead">Groupify lets you sign up for nearby group events and rewards you for staying committed.</p>
 <%= button_to "Sign Up", signup_path, :class => "btn btn-success btn-large", :method => 'get'%>
</div>
<hr>

<p class="lead"> Groups Forming Now</p>
<% @group.take(5).each do |g| %>
<div class="panel panel-info">
  <div class="panel-heading"><%= g.title %></div>
    <div class="panel-footer">
      People Going: 
      <span class="badge"><%= g.attendances.count %></span>
    </div>
  </div>
 <% end %>


<hr>
<h1>How It Works</h1>

<p class="lead">
<ol>
  <li>Everytime you sign up with a group, you all earn karma.</li>
  <li><s>Everyone hates flakes.</s> Organizers lose more than just money when you cancel.</li>
  <li>When you don't show up, you lose. In fact, everyone loses. Not making good on your promises has negative consequences in our system.</li>
  <li>Have feedback? Let us know by emailing us at groupmaster@usegroupify.com. </li>
</ol>
</p>
<hr>
</div>
<div class="carouselwrapping">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner carouselpadding">
    <div class="item active">
     <%= image_tag("card1.png") %>
      <div class="carousel-caption">
   
      </div>
    </div>
    <div class="item">
       <%= image_tag("card2.png") %>
      <div class="carousel-caption">
      
      </div>
    </div>
    <div class="item">
       <%= image_tag("card3.png") %>
      <div class="carousel-caption">
    
      </div>
    </div>


  </div>


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55412382-1', 'auto');
  ga('send', 'pageview');

</script>