<% provide(:title, 'Groups') %>
<% if !logged_in? %>
<% provide(:title, @user.name) %>

 <% @group.each do |g| %>

<div class="panel panel-info">
  <div class="panel-heading"><%= g.title %></div>
    <div class="panel-body">
      <%= g.content %>
    </div>

    <div class="panel-footer">
      People Going: 
      <span class="badge"><%= g.attendances.count %></span>
    </div>
  </div>

 <% end %>

</div>
<% else %>

<h3>Today's Groups</h3>

<% @group.each do |g| %>
<!-- how to check if user has attendance? -->
<div class="panel panel-info">
  <div class="panel-heading"><%= link_to g.title + " @ " + g.when.to_formatted_s(:long), group_path(id: g.id) %> 
  <span class="btn-group">
  <!-- if user has not claimed it/// -->
  <% if !current_user.attendances.find_by(group_id: g.id) %>


    <%= form_for(current_user.attendances.build(group_id: g.id)) do |f| %>
    <div><%= hidden_field_tag :group_id, g.id %></div>
    <%= f.submit "Reserve", class: "btn btn-primary btn-xs" %>
    <% end %>
  <!-- ///if user has not claimed it -->
  <% else %> 
  <!-- if user has claimed it show cancellation -->  
    <%= form_for(current_user.attendances.find_by(user_id: current_user.id), html: { method: :delete }) do |f| %>
    <%= f.submit "Cancel", class: "btn btn-danger btn-xs" %>
    <% end %>

  <% end %>

   </span>

  </div>
  <div class="panel-body">
  <%= g.content %>
  </div>
  <div class="panel-footer">
  Spots Left <span class="badge"><%= g.seats %></span>
  | People Going: 
  <% g.attendances.all.each do |gg| %>
  <span class="badge"><%= User.find(gg.user_id).name %></span>
  <% end %>
  <br>
</div>
</div>
  <% end %>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55412382-1', 'auto');
  ga('send', 'pageview');

</script>