<% provide(:title, @group.title) %>

<br>
<br>
<div class="row">
  <div class="col-md-6">
<div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading"><%= @group.title %> hosted by: <%= User.find(@group.user_id).name  %></div>
    <div class="panel-body">
      When: <%= @group.when.strftime("%a, %b %d, %Y %l%p") %>
      <br>
    Description: <%= @group.content %>
    </div>

    <!-- Table -->
    <table class="table table-bordered table-striped">
    <tr><th>Name</th><th>Status</th><th>Position</th></tr>

    <% @group.attendances.all.sort_by(&:position).each do |gg| %>
    <tr>
    <td><%= User.find(gg.user_id).name %>
    </td>
    <td>
    <%= gg.status %>
    </td>
    <td>
    <%= gg.position %>
    </td>
    </tr>
    <% end %>
    </table>
  </div>
</div>
</div>

<br><br>
<p>Admin Only Zone</p>
<%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Cancelling the event will notify the group. Are you sure?' } %>
<%= link_to "View My Groups", current_user %>
<%= link_to "View All Groups", groups_path %>