<% if !logged_in? %>
         Please  <%= link_to 'Sign Up', signup_path %> or 
          <%= link_to "Log in", login_path %>
<% else %>

<% provide(:title, @user.name) %>
<div>
      <h1>Your Group Reservations</h1>
  Karma Points: <%= current_user.karma %>
  <br>
  <%= link_to "Find More Reservations", groups_path %>
  or <%= link_to "Create Your Own", new_group_path %>
<hr>
<br>
<% @user.attendances.each do |g| %>
<!-- how to check if user has attendance? -->
<div class="panel panel-info">
  <div class="panel-heading"><%= link_to g.group.title + " @ " + g.group.when.to_formatted_s(:long), group_path(id: g.group.id) %> 
<span class="btn-group">

   <%= button_to 'Cancel', g, :confirm => 'Are you really sure?', :method => :delete, :class => 'btn btn-danger btn-xs' %>

   </span>

  </div>
  <div class="panel-body">
  <%= g.group.content %>
  </div>
  <div class="panel-footer">
  Spots Left <span class="badge"><%= g.group.seats %></span>
  | People Signed Up: 
  <% g.group.attendances.all.each do |gg| %>
  <span class="badge"><%= User.find(gg.user_id).name %></span>
  <% end %>
  <br>
</div>
</div>
  <% end %>
<% end %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55412382-1', 'auto');
  ga('send', 'pageview');

</script>